@mixin animated($name, $duration: 1s, $delay: null, $iteration-count:infinite) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-iteration-count: $iteration-count;
  animation-name: $name;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.pause-animation {
  * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    animation-iteration-count: 1 !important;
  }

  &--btn:hover {
    opacity: 1;
  }
}


@keyframes bob-heavy {
  0% {
    transform: translate(0, 4px);
  }

  60% {
    transform: translate(2px, -6px);
  }

  100% {
    transform: translate(0, 4px);
  }
}

@keyframes bob-normal {
  0% {
    transform: translate(0, 4px);
  }

  60% {
    transform: translate(1px, -0px);
  }

  100% {
    transform: translate(0, 4px);
  }
}

@keyframes rotate-45 {
  0% {
    transform: rotate(42deg);
  }

  60% {
    transform: rotate(54deg);
  }

  100% {
    transform: rotate(42deg);
  }
}

@keyframes rotate-315 {
  0% {
    transform: rotate(310deg);
  }

  60% {
    transform: rotate(318deg);
  }

  100% {
    transform: rotate(310deg);
  }
}

@keyframes rotate-normal {
  0% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}

@keyframes sparkle {
  100% {background-position: 300% 100%}
}

@keyframes float-up {
  0% {
    top: 100%;
  }

  37% {
    top: -5%;
  }

  55% {
    top: 35%;
  }

  73% {
    top: 0%;
  }

  80% {
    top: 15%;
  }

  90% {
    top: 0%;
  }

  94% {
    top: 7%;
  }

  100% {
    top: 0;
  }
}

@keyframes float-down {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

.bob-normal {
  @include animated(bob-normal, 4s);
  .object-rig__bob {
    @include animated(bob-normal, 4s);
  }
}

.bob-heavy {
  @include animated(bob-heavy, 4s);
  .object-rig__bob {
    @include animated(bob-heavy, 4s);
  }
}

.rotate-normal {
  .object-rig__rotate {
    @include animated(rotate-normal, 4s);
  }
}

.rotate-45 {
  .object-rig__rotate {
    @include animated(rotate-45, 4s);
  }
}

.rotate-315 {
  .object-rig__rotate {
    @include animated(rotate-315, 4s);
  }
}

.object-float {
  .object-rig__bob {
    @include animated(float-up, 6s, 0, 1);
  }
}

.object-sunk {
  .object-rig__bob {
    @include animated(float-down, 6s, 0, 1);
  }
}

[class*="bob-"] {
  animation-duration: 4s;
  animation-name: raft-bob;
  animation-delay: -2s;

  .character__torso {
    animation-name: character-sway;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .character__head {
    animation-name: character-head-sway;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

//setting up animations for raft
.animated {
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes raft-bob {
  0% {
    transform: translate(0, 4px) rotate(-2deg);
  }

  50% {
    transform: translate(2px, -6px) rotate(2deg);
  }

  100% {
    transform: translate(0, 4px) rotate(-2deg);
  }
}



@keyframes character-sway {
  0% {
    transform: translateX(-50%) rotate(1deg);
  }

  50% {
    transform: translateX(-50%) rotate(-1deg);
  }

  100% {
    transform: translateX(-50%) rotate(1deg);
  }
}

@keyframes character-head-sway {
  0% {
    transform: translate(-50%, 0) rotate(2deg);
  }

  50% {
    transform: translate(-50%, 2px) rotate(-2deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(2deg);
  }
}
