* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-size: $base-font;
}

a {
  transition: all 0.1s ease-out;

  &:hover {
    transition: all 0.05s ease-in;
  }
}
