* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font-size: $base-font;
}
body,html{
	min-height: 100vh;
	overflow: hidden;
}

/* For dev purposes, illuminates where objects are */
.test-mask {
  background: rgba(red, 0.35);
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}
