* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 100%;
}
body {
  font-size: $base-font;
}
body,html{
	min-height: 100vh;
	overflow: hidden;
}

a {
  transition: all 0.1s ease-out;

  &:hover {
    transition: all 0.05s ease-in;
  }
}
