body {
  background: $color-bg;
  font-family: $body-font-family;
  font-weight: 100;
}

p {
  margin-bottom: $lead-single;
}

.panel {
  padding: 1em;
}

.hide-children > * {
  display: none;
}

.knuddle {
  padding-top: 100%;
  width: 100%;
  height: 100%;
  position: relative;

  * {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .tentacles {
    &-l3,
    &-l2,
    &-l1,
    &-r3,
    &-r2,
    &-r1 {
      &--inactive .inactive { display: block; }
      &--active .active     { display: block; }
    }
  }

  .ears {
    &--up .up     { display: block; }
    &--down .down { display: block; }
  }

  .eyeballs {
    &--one   .eb1 { display: block; }
    &--two   .eb2 { display: block; }
    &--three .eb3 { display: block; }
  }

  .pupils {
    &-left {
      &.pupils--direction-1 .d1 { display: block; }
      &.pupils--direction-2 .d2 { display: block; }
      &.pupils--direction-3 .d3 { display: block; }
      &.pupils--direction-4 .d4 { display: block; }
      &.pupils--direction-5 .d5 { display: block; }
      &.pupils--direction-6 .d6 { display: block; }
      &.pupils--direction-7 .d7 { display: block; }
    }
    &-center {
      &.pupils--direction-1 .d1 { display: block; }
      &.pupils--direction-2 .d2 { display: block; }
      &.pupils--direction-3 .d3 { display: block; }
      &.pupils--direction-4 .d4 { display: block; }
      &.pupils--direction-5 .d5 { display: block; }
      &.pupils--direction-6 .d6 { display: block; }
      &.pupils--direction-7 .d7 { display: block; }
    }
    &-right {
      &.pupils--direction-1 .d1 { display: block; }
      &.pupils--direction-2 .d2 { display: block; }
      &.pupils--direction-3 .d3 { display: block; }
      &.pupils--direction-4 .d4 { display: block; }
      &.pupils--direction-5 .d5 { display: block; }
      &.pupils--direction-6 .d6 { display: block; }
      &.pupils--direction-7 .d7 { display: block; }
    }
  }

  .mouth {
    &--1 .m1 { display: block; }
    &--2 .m2 { display: block; }
    &--3 .m3 { display: block; }
    &--4 .m4 { display: block; }
    &--5 .m5 { display: block; }
  }

  // Set color of all the things
  .spots {
    &--true {
      svg {
        path,
        circle {
          fill: $color-true;
        }
      }
    }

    &--false {
      svg {
        path,
        circle {
          fill: $color-false;
        }
      }
    }

    &--noinfo {
      svg {
        path,
        circle {
          fill: $color-noinfo;
        }
      }
    }

    &--both {
      svg {
        path,
        circle {
          fill: $color-both;
        }
      }
    }

    &--none {
      svg {
        path,
        circle {
          fill: none;
        }
      }
    }
  }

  &--true {
    .body svg,
    .ears svg,
    .eyes svg,
    .tentacles svg {
      path,
      circle,
      ellipse {
        fill: $color-true;
      }
    }
  }

  &--false {
    .body svg,
    .ears svg,
    .eyes svg,
    .tentacles svg {
      path,
      circle,
      ellipse {
        fill: $color-false;
      }
    }
  }

  &--noinfo {
    .body svg,
    .ears svg,
    .eyes svg,
    .tentacles svg {
      path,
      circle,
      ellipse {
        fill: $color-noinfo;
      }
    }
  }

  &--both {
    .body svg,
    .ears svg,
    .eyes svg,
    .tentacles svg {
      path,
      circle,
      ellipse {
        fill: $color-both;
      }
    }
  }
}
