body {
  background: $color-bg;
  font-family: $body-font-family;
  font-weight: 100;
}

.arrow {
  display: block;

  &.right {
    transform: rotate(90deg);
  }

  &.down {
    transform: rotate(180deg);
  }

  &.left {
    transform: rotate(270deg);
  }
}

.puzzle {
  white-space: nowrap;
  position: relative;
  height: 100vh;

  &-panel {
    display: inline-block;
    float: left;
    position: relative;
    min-height: 100vh;
  }

  .btn {
    bottom: 0;
  }
}

.level0 .puzzle { left: 0vw; }
.level1 .puzzle { left: -100vw; }

.star {
  float: left;
  margin: 1rem;
}

.meta {
  float: right;
  margin: 1rem;

  &-item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5rem;

    span {
      text-align: center;
      font-weight: bold;
      color: #fff;
      display: block;
      line-height: 3rem;
    }
  }

  &__true {
    background: $color-true;
  }

  &__sometimes {
    background: $color-sometimes-small;
  }

  &__false {
    background: $color-false;
  }
}
