::selection{
  background: $color-primary;
  color: $color-primary-text;
  text-shadow: none;
}
::-moz-selection{
  background: $color-primary;
  color: $color-primary-text;
  text-shadow: none;
}
::-webkit-selection{
  background: $color-primary;
  color: $color-primary-text;
  text-shadow: none;
}
