.modal {
  position: absolute;
  width: 70vw;
  left: 15vw;
  height: 70vh;
  top: 15vh;
  background: #fff;
  display: flex;
  align-items: center;
  transition: top 0.25s ease-in;
  z-index: 500;

  &__visible {
    top: 10vh;
    transition: top 0.35s ease-out;
  }

  &--spinner {
    width: $lead-double;
    height: $lead-double;
    background: $color-sometimes-small;
    animation: spin 2s ease-in-out infinite;
    margin: 0 auto;
  }

  &--message {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    padding: 5rem;
    display: none;
  }

  &__win {
    color: $color-true;
  }

  &__lose {
    color: $color-false;
  }

  &--wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -100vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
  z-index: 50;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &__visible {
    transition: opacity 0.35s ease-in;
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(405deg);
  }
}
