/* <div class="object-container object-container--lg object-container--oil-barrel bob-heavy rotate-45">
    <div class="object-rig">
      <div class="object-rig__bob">
        <div class="object-rig__rotate">
          <div class="object-mask">
            <div class="object"></div>
          </div>
          <div class="object-shadow"></div>
          <div class="object-submerged"></div>
        </div>
      </div>
    </div>
  </div> */

//debugging

//base object container setup
.object-container {
  position: absolute;
  left: -100vw;
  top: 200vh;
}

//sizes for object container
.object-container--xs {
  .object {
    background-size: $size-xs+px;
  }
  @include square($size-xs);
}
.object-container--sm {
  .object {
    background-size: $size-sm+px;
  }
  @include square($size-sm);
}
.object-container--md {
  .object {
    background-size: $size-md+px;
  }
  @include square($size-md);
}
.object-container--lg {
  @include square($size-lg);
  .object {
    background-size: $size-lg+px;
  }
  @include square($size-lg);
}
.object-container--xl {
  .object {
    background-size: $size-xl+px;
  }
  @include square($size-xl);
}



//object rig setup
.object-rig {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
  &:first-child {
    z-index: 1;
  }
}
.object-rig__bob, .object-rig__rotate {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.object-rig__rotate {
  top: 50%;
}

.object-submerged-container {
  .object-rig__rotate {
    top: 0;
  }
}



//base object setup
.object {
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 1s;
  width: 100%;
  z-index: 0;
}



//masking the object
.object-mask {
  height: 100%;
  left: -25%;
  overflow: hidden;
  position: absolute;
  top: -50%;
  width: 150%;
  z-index: 3;
  pointer-events: none;
}



//generating a silhouette of the object
.object-submerged {
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: all 1s;
  width: 100%;
  z-index: 1;
  //filter: sepia(100%) brightness(.6) drop-shadow(0 0 0 #fff) hue-rotate(156deg) saturate(80);
  &:after {
    content: '';
    background:linear-gradient(to bottom,$color-aqua 0,$color-sea 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
  }
}



//shadow setup
// .object-container:after {
//   content: '';
//   width: 120%;
//   height: 10%;
//   background: #1EB9D4;
//   border-radius: 50%;
//   top: 50%;
//   left: -10%;
//   transform: translateY(-50%);
//   mix-blend-mode: multiply;
//   opacity: .5;
//   position: absolute;
//   z-index: 0;
// }



//object states
.object-container:hover {
  cursor: pointer;
  .object {
    filter: brightness(1.5) saturate(2) drop-shadow(0 0 10px rgba(255,255,255,.5))!important;
  }
  .object-submerged {
    filter: brightness(1.1)!important;
    opacity: 1;
  }
}

.object-container--new {
  &:before {
    animation: sparkle .36s steps(3) infinite;
    background-image: url(../../assets/img/fx/sparkle.svg);
    background-position: top left;
    background-size: 400%;
    content: '';
    height: 32px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: -32px;
    transform: translateX(-50%);
    width: 32px;
  }
}



//objects entering and leaving the scene
.object-sunk {
  .object-rig,
  &:before,
  &:after {
    transition: opacity 1s ease-in;
    opacity: 0;
  }

  .object-rig__bob {
    transition: top 1s ease-in;
    top: 100%;
  }
}

.object-float {
  .object-rig,
  &:before,
  &:after {
    transition: opacity 1s ease-in;
    opacity: 1;
  }
}
