.btn {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  text-decoration: none;
  padding: 1.5rem 1rem;

  &__bottom {
    position: absolute;
    bottom: 0;
  }

  &__half {
    width: 30vw;
  }

  &__prev {
    left: 0;
  }

  &__next {
    left: 70vw;
  }

  &-primary {
    background: $color-primary;
    color: $color-primary-text;

    &:hover {
      background: $color-primary-dark;
    }
  }

  &-secondary {
    background: $color-secondary;
    color: $color-secondary-text;

    &:hover {
      background: $color-secondary-dark;
    }
  }

  &-big {
    width: 80%;
    margin: 0 auto 2rem;
    border-radius: 0.5rem;
    color: #fff;
    padding: 1rem;
    font-size: 4rem;
    position: relative;
    box-shadow:
      inset 0 -8px 0 rgba(0,0,0, $button-shadow),
      0 12px 0 2px rgba(0,0,0, $button-shadow);

    &:hover {

    }

    &:active {
      transform: scale(0.9);
      box-shadow:
        inset 0 -8px 0 rgba(0,0,0, $button-shadow),
        0 4px 0 1px rgba(0,0,0, $button-shadow);
    }

    &.active {
      box-shadow:
        inset 0 -8px 0 rgba(0,0,0, $button-shadow),
        0 4px 0 1px rgba(0,0,0, $button-shadow);
    }
  }

  &__t {
    background: $color-true;

    &:hover {
      background: darken($color-true, 8%);
    }
  }

  &__s {
    background: $color-sometimes;

    &:hover {
      background: $color-sometimes-hover;
    }
  }

  &__f {
    background: $color-false;

    &:hover {
      background: darken($color-false, 8%);
    }
  }

  &__m {
    background: $color-mystery;

    &:hover {
      background: darken($color-mystery, 8%);
    }
  }
}
