$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$scale:       1.5;
$base-font:   16px;
$base-lh:     $base-font * $scale;

$heading-font-family: jubilat, garamond, serif;
$body-font-family:    brandon-grotesque, Helvetica, sans-serif;

$base-radius: $base-font/4;

$wave-height: $base-lh;
$wave-scale:  $base-font;

$color-glow:  #B7FEDD;

$color-aqua: #59f0e8;
$color-sea: #46afdb;

$color-coral: #FC2AA1; //HOT PINK!!!!

$color-gray:      #5B99B5;
$color-gray-dark: #074059;

$color-submerged-light: #D0AEE4;
$color-submerged-dark: #007A9B;

$wave-height: 10px;

$size-xs: 32;
$size-sm: 48;
$size-md: 96;
$size-lg: 128;
$size-xl: 256;
