$base :         #F7F6F0;
$darken :       darken(#F7F6F0 , 30%);
$back:          darken(#F7F6F0, 40%);

$scale:         1.5;
$base-font:     18px;
$base-lh:       $base-font * $scale;

$lead-half:     $base-lh / 2;
.lead-half    { margin-bottom: $lead-half; }
$lead-single:   $base-lh;
.lead-single  { margin-bottom: $lead-single; }
$lead-double:   $base-lh * 2;
.lead-double  { margin-bottom: $lead-double; }
$lead-triple:   $base-lh * 3;
.lead-triple  { margin-bottom: $lead-triple; }

$heading-font-family: jubilat, garamond, serif;
$body-font-family:    brandon-grotesque, Helvetica, sans-serif;

$base-radius: $base-font/4;

$wave-height: $base-lh;
$wave-scale:  $base-font;

$button-shadow:        0.08;

$color-primary:        #b7fedd;
$color-primary-dark:   darken($color-primary, 10%);
$color-primary-text:   #074059;

$color-secondary:      #59f0e8;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-text: #074059;

$color-bg:             #fff;
$color-bg-dark:        lighten(#5B99B5, 5%);

$color-true:           #bbef4b;
$color-false:          #ff6e26;
$color-noinfo:         #7dc3c7;
$color-both:           #ab6ef0;
$color-border:         #7a4567;
