.wave-container {
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}

.wave-group {
  width: $wave-scale * 7;
  position: absolute;
  animation-duration: 4s;
}

.wave {
  height: 2px;
  border-radius: 2px;
  width: $wave-scale;
  margin-bottom: $wave-height;
  display: inline-block;

  &.a {
    width: $wave-scale * 4;
    margin-bottom: $wave-height * 2;
    background: rgba(106, 236, 250, .4);
  }

  &.b {
    width: $wave-scale;
    margin-bottom: $wave-height * 2;
    background: darken( rgba(106, 236, 250, .4), 20% );
  }

  &.c {
    width: $wave-scale * 3;
    margin-bottom: $wave-height * 3;
    background: darken( rgba(106, 236, 250, .4), 10% );
  }

  &.d {
    width: $wave-scale;
    margin-bottom: $wave-height * 2;
    background: lighten( rgba(106, 236, 250, .4), 20% );
  }

  &.e {
    width: $wave-scale * 2;
    margin-bottom: $wave-height;
    background: lighten( rgba(106, 236, 250, .4), 10% );
  }
}

@keyframes wave-bob {
  0% {
    transform: translate(0, 0) rotate(-3deg);
  }

  60% {
    transform: translate(0, -10px) rotate(3deg);
  }

  100% {
    transform: translate(0, 0) rotate(-3deg);
  }
}

.wave-bob {
  animation-name: wave-bob;
}
