//put this into a mixin file eventually
@mixin square($number) {
  height: $number + px;
  width: $number + px;
}

@mixin object() {
  position: absolute;
  &:after {
    content: '';
    width: 100%;
    height: 10%;
    background: #1EB9D4;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: multiply;
    opacity: .5;
    position: absolute;
    z-index: 0;
  }
  &:hover {
    cursor: pointer;
    .object {
      filter: brightness(1.5) saturate(2) drop-shadow(0 0 10px rgba(255,255,255,.5))!important;
    }
    .object-submerged {
      filter: brightness(1.1)!important;
      opacity: 1;
    }
  }
  @include square($size-lg);
  .object {
    background-size: $size-lg+px;
  }
  @include square($size-lg);
}